@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form enctype="multipart/form-data" asp-action="Create">
    <label>Conteúdo QR Code</label>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Current Image</label><br />
            <img style="width: 100px; height: 70px" src='@ViewBag.TotalStudents'/>
        </div>
    </div>
</form>